li{
  list-style-type: none;
  text-align: center;
  
}
ul{
  margin: 0;
padding: 0;
}
.intro{
  text-align: center;
}
.cover {
  margin: 30px auto;
  border: 3px solid;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  width: 700px;
}

.city,
.date,
.temp {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.top{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.input {
  width: 300px;
  margin-right: 10px;
  height: 35px;
}
.present{
  margin: 0;
}
.city {
  font: 40px solid;
}
.date,
.temp,
.forecast {
  font-size: 18px;
}
.symbol {
  display: flex;
  justify-content: center;
}
#desc::first-letter{
  text-transform: capitalize;
}

.cols {
  border: 2px solid;
  text-align: center;
  border-radius: 5px;
  font: 18px solid;
  padding: 10px 0;
}
.forecast-symbol {
  font-size: 28px;
}
.others{
  margin-top: 12px;
}